configuration {
    modi: "run,window,ssh";
    display-run: "";
    display-window: "";
    display-ssh: "歷";
    location: 6;
    yoffset: -32;
    xoffset: 0;
    fixed-num-lines: true;
    terminal: "wezterm";
    show-icons: true;
    kb-mode-next: "Super+Tab";
}

@theme "default_theme"

/* vim:ft=css
