*.pyc
*.local
/bashrc.d/local
/config/gtk-3.0/bookmarks
/config/mc/hotlist
/config/mc/hotlist.bak
/config/mc/panels.ini
/config/nvim/local.vim
/config/nvim/spell
/config/nvim/.netrwhist
/local/share/mc/history
/mozilla/firefox/chrome/userContent.css
/ssh/authorized_keys
/ssh/config
/ssh/id_rsa
/ssh/known_hosts
/ssh/*.ppk
/ssh/*.pub
/vimperator/info
