[submodule "nvim/bundle/gundo"]
	path = config/nvim/pack/bundle/start/gundo
	url = git://github.com/sjl/gundo.vim.git
[submodule "nvim/bundle/auto_mkdir"]
	path = config/nvim/pack/bundle/start/auto_mkdir
	url = git://github.com/DataWraith/auto_mkdir.git
[submodule "nvim/bundle/ctrlp"]
	path = config/nvim/pack/bundle/start/ctrlp
	url = git://github.com/ctrlpvim/ctrlp.vim.git
[submodule "nvim/bundle/splice"]
	path = config/nvim/pack/bundle/start/splice
	url = git://github.com/sjl/splice.vim.git
[submodule "nvim/bundle/eunuch"]
	path = config/nvim/pack/bundle/start/eunuch
	url = git://github.com/tpope/vim-eunuch.git
[submodule "nvim/bundle/sideway"]
	path = config/nvim/pack/bundle/start/sideway
	url = git://github.com/AndrewRadev/sideways.vim.git
[submodule "nvim/bundle/matchtag"]
	path = config/nvim/pack/bundle/start/matchtag
	url = git://github.com/gregsexton/MatchTag.git
[submodule "nvim/bundle/SingleCompile"]
	path = config/nvim/pack/bundle/start/SingleCompile
	url = git://github.com/xuhdev/SingleCompile.git
[submodule "nvim/bundle/clam"]
	path = config/nvim/pack/bundle/start/clam
	url = git://github.com/sjl/clam.vim.git
[submodule "nvim/bundle/abolish"]
	path = config/nvim/pack/bundle/start/abolish
	url = git://github.com/tpope/vim-abolish.git
[submodule "nvim/bundle/better-whitespace"]
	path = config/nvim/pack/bundle/start/better-whitespace
	url = git://github.com/ntpeters/vim-better-whitespace.git
[submodule "nvim/bundle/signature"]
	path = config/nvim/pack/bundle/start/signature
	url = git://github.com/kshenoy/vim-signature.git
[submodule "nvim/bundle/spiffy_foldtext"]
	path = config/nvim/pack/bundle/start/spiffy_foldtext
	url = git://github.com/atimholt/spiffy_foldtext.git
[submodule "nvim-polyglot"]
	path = config/nvim/pack/bundle/start/polyglot
	url = git://github.com/sheerun/vim-polyglot.git
[submodule "nvim/bundle/relativity"]
	path = config/nvim/pack/bundle/start/relativity
	url = git://github.com/kennykaye/vim-relativity.git
[submodule "config/nvim/bundle/troll-stopper"]
	path = config/nvim/pack/bundle/start/troll-stopper
	url = git://github.com/vim-utils/vim-troll-stopper.git
[submodule "config/nvim/bundle/gnupg"]
	path = config/nvim/pack/bundle/start/gnupg
	url = git://github.com/jamessan/vim-gnupg.git
[submodule "config/nvim/bundle/shot-f"]
	path = config/nvim/pack/bundle/start/shot-f
	url = git://github.com/deris/vim-shot-f.git
[submodule "config/nvim/bundle/esearch"]
	path = config/nvim/pack/bundle/start/esearch
	url = git://github.com/eugen0329/vim-esearch.git
[submodule "config/nvim/bundle/openscad"]
	path = config/nvim/pack/bundle/start/openscad
	url = git://github.com/sirtaj/vim-openscad.git
[submodule "config/nvim/pack/bundle/start/loupe"]
	path = config/nvim/pack/bundle/start/loupe
	url = git://github.com/wincent/loupe.git
[submodule "config/nvim/pack/bundle/start/lspconfig"]
	path = config/nvim/pack/bundle/start/lspconfig
	url = git://github.com/neovim/nvim-lspconfig.git
[submodule "config/nvim/pack/bundle/start/vsnip"]
	path = config/nvim/pack/bundle/start/vsnip
	url = git://github.com/hrsh7th/vim-vsnip.git
[submodule "config/nvim/pack/bundle/start/friendly-snippets"]
	path = config/nvim/pack/bundle/start/friendly-snippets
	url = git://github.com/rafamadriz/friendly-snippets.git
[submodule "config/nvim/pack/bundle/start/shade"]
	path = config/nvim/pack/bundle/start/shade
	url = git://github.com/sunjon/Shade.nvim.git
[submodule "config/nvim/pack/bundle/start/colorizer"]
	path = config/nvim/pack/bundle/start/colorizer
	url = git://github.com/norcalli/nvim-colorizer.lua.git
[submodule "config/nvim/pack/bundle/start/lualine"]
	path = config/nvim/pack/bundle/start/lualine
	url = git://github.com/hoob3rt/lualine.nvim.git
[submodule "config/nvim/pack/bundle/start/dial"]
	path = config/nvim/pack/bundle/start/dial
	url = git://github.com/monaqa/dial.nvim.git
[submodule "config/nvim/pack/bundle/start/lspkind"]
	path = config/nvim/pack/bundle/start/lspkind
	url = git://github.com/onsails/lspkind-nvim.git
[submodule "config/nvim/pack/bundle/start/lsp-status"]
	path = config/nvim/pack/bundle/start/lsp-status
	url = git://github.com/nvim-lua/lsp-status.nvim.git
[submodule "config/nvim/pack/bundle/start/cmp"]
	path = config/nvim/pack/bundle/start/cmp
	url = git://github.com/hrsh7th/nvim-cmp.git
[submodule "config/nvim/pack/bundle/start/cmp-nvim-lsp"]
	path = config/nvim/pack/bundle/start/cmp-nvim-lsp
	url = git://github.com/hrsh7th/cmp-nvim-lsp.git
[submodule "config/nvim/pack/bundle/start/cmp-buffer"]
	path = config/nvim/pack/bundle/start/cmp-buffer
	url = git://github.com/hrsh7th/cmp-buffer.git
[submodule "config/nvim/pack/bundle/start/cmp-path"]
	path = config/nvim/pack/bundle/start/cmp-path
	url = git://github.com/hrsh7th/cmp-path.git
[submodule "config/nvim/pack/bundle/start/cmp-vsnip"]
	path = config/nvim/pack/bundle/start/cmp-vsnip
	url = git://github.com/hrsh7th/cmp-vsnip.git
[submodule "config/nvim/pack/bundle/start/lsp_signature"]
	path = config/nvim/pack/bundle/start/lsp_signature
	url = https://github.com/ray-x/lsp_signature.nvim
