[submodule "vim/bundle/fugitive"]
	path = vim/bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/php-namespace"]
	path = vim/bundle/php-namespace
	url = git://github.com/arnaud-lb/vim-php-namespace.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/CamelCaseMotion"]
	path = vim/bundle/CamelCaseMotion
	url = git://github.com/bkad/CamelCaseMotion.git
[submodule "vim/bundle/gundo"]
	path = vim/bundle/gundo
	url = git://github.com/sjl/gundo.vim.git
[submodule "vim/bundle/easymotion"]
	path = vim/bundle/easymotion
	url = git://github.com/Lokaltog/vim-easymotion.git
[submodule "vim/bundle/auto_mkdir"]
	path = vim/bundle/auto_mkdir
	url = git://github.com/DataWraith/auto_mkdir.git
[submodule "vim/bundle/behat"]
	path = vim/bundle/behat
	url = git://github.com/veloce/vim-behat.git
[submodule "vim/bundle/ctrlp"]
	path = vim/bundle/ctrlp
	url = git://github.com/kien/ctrlp.vim.git
[submodule "vim/bundle/gitv"]
	path = vim/bundle/gitv
	url = git://github.com/gregsexton/gitv.git
[submodule "vim/bundle/lastpos"]
	path = vim/bundle/lastpos
	url = git://github.com/vim-scripts/lastpos.vim.git
[submodule "vim/bundle/LanguageTool"]
	path = vim/bundle/LanguageTool
	url = git://github.com/vim-scripts/LanguageTool.git
[submodule "vim/bundle/splice"]
	path = vim/bundle/splice
	url = git://github.com/sjl/splice.vim.git
[submodule "vim/bundle/man"]
	path = vim/bundle/man
	url = git://github.com/pydave/vim-man.git
[submodule "vim/bundle/eunuch"]
	path = vim/bundle/eunuch
	url = git://github.com/tpope/vim-eunuch.git
[submodule "vim/bundle/html_annoyance"]
	path = vim/bundle/html_annoyance
	url = git://github.com/tudorprodan/html_annoyance.vim.git
[submodule "vim/bundle/neocomplcache"]
	path = vim/bundle/neocomplcache
	url = git://github.com/Shougo/neocomplcache.git
[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic
	url = git://github.com/scrooloose/syntastic.git
[submodule "vim/bundle/vdebug"]
	path = vim/bundle/vdebug
	url = git://github.com/joonty/vdebug.git
[submodule "vim/bundle/sideway"]
	path = vim/bundle/sideway
	url = git://github.com/AndrewRadev/sideways.vim.git
[submodule "todo/standup"]
	path = todo/standup
	url = git://github.com/civrot/todo_txt_actions.git
[submodule "vim/bundle/vala"]
	path = vim/bundle/vala
	url = git://github.com/rainux/vim-vala.git
[submodule "vim/bundle/pathogen"]
	path = vim/bundle/pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule "vim/bundle/drupal"]
	path = vim/bundle/drupal
	url = git://github.com/grota/drupal.vim.git
[submodule "vim/bundle/phpcomplete"]
	path = vim/bundle/phpcomplete
	url = git://github.com/shawncplus/phpcomplete.vim.git
[submodule "vim/bundle/matchtag"]
	path = vim/bundle/matchtag
	url = git://github.com/gregsexton/MatchTag.git
[submodule "vim/bundle/SingleCompile"]
	path = vim/bundle/SingleCompile
	url = git://github.com/xuhdev/SingleCompile.git
[submodule "vim/bundle/incbool"]
	path = vim/bundle/incbool
	url = git://github.com/can3p/incbool.vim.git
[submodule "vim/bundle/clam"]
	path = vim/bundle/clam
	url = git://github.com/sjl/clam.vim.git
[submodule "vim/bundle/tags"]
	path = vim/bundle/tags
	url = git://github.com/szw/vim-tags.git
[submodule "vim/bundle/ultisnips"]
	path = vim/bundle/ultisnips
	url = git://github.com/SirVer/ultisnips.git
[submodule "vim/bundle/autoSession"]
	path = vim/bundle/autoSession
	url = git://github.com/fabi1cazenave/autoSession.vim.git
[submodule "vim/bundle/sensible"]
	path = vim/bundle/sensible
	url = git://github.com/sanpii/vim-sensible.git
[submodule "vim/bundle/TextObjectify"]
	path = vim/bundle/TextObjectify
	url = git://github.com/paradigm/TextObjectify.git
[submodule "vim/bundle/multiple-cursors"]
	path = vim/bundle/multiple-cursors
	url = git://github.com/terryma/vim-multiple-cursors.git
[submodule "todo/cli"]
	path = todo/cli
	url = git://github.com/ginatrapani/todo.txt-cli.git
[submodule "vim/bundle/todo.txt"]
	path = vim/bundle/todo.txt
	url = git://github.com/freitass/todo.txt-vim.git
[submodule "todo/ex"]
	path = todo/ex
	url = git://github.com/sanpii/todo.txt-cli-ex.git
[submodule "vim/bundle/ctrlp-funky"]
	path = vim/bundle/ctrlp-funky
	url = git://github.com/tacahiroy/ctrlp-funky.git
[submodule "vim/bundle/airline"]
	path = vim/bundle/airline
	url = git://github.com/bling/vim-airline.git
[submodule "fonts"]
	path = fonts
	url = git://github.com/Lokaltog/powerline-fonts.git
[submodule "vim/bundle/crunch"]
	path = vim/bundle/crunch
	url = git://github.com/arecarn/crunch.git
[submodule "vim/bundle/move"]
	path = vim/bundle/move
	url = git://github.com/matze/vim-move.git
[submodule "vim/bundle/fixkey"]
	path = vim/bundle/fixkey
	url = git://github.com/drmikehenry/vim-fixkey.git
[submodule "vim/bundle/desertink"]
	path = vim/bundle/desertink
	url = git://github.com/toupeira/vim-desertink.git
[submodule "vim/bundle/over"]
	path = vim/bundle/over
	url = git://github.com/osyo-manga/vim-over.git
[submodule "vim/bundle/indexed-search"]
	path = vim/bundle/indexed-search
	url = git://github.com/henrik/vim-indexed-search
[submodule "vim/bundle/abolish"]
	path = vim/bundle/abolish
	url = git://github.com/tpope/vim-abolish.git
[submodule "vim/vim/bundle/targets"]
	path = vim/bundle/targets
	url = git://github.com/wellle/targets.vim.git
[submodule "vim/bundle/better-whitespace"]
	path = vim/bundle/better-whitespace
	url = git://github.com/ntpeters/vim-better-whitespace.git
[submodule "vim/bundle/hardtime"]
	path = vim/bundle/hardtime
	url = git://github.com/takac/vim-hardtime.git
[submodule "vim/bundle/easyoperator-line"]
	path = vim/bundle/easyoperator-line
	url = git://github.com/haya14busa/vim-easyoperator-line.git
[submodule "vim/bundle/signature"]
	path = vim/bundle/signature
	url = git://github.com/kshenoy/vim-signature.git
[submodule "vim/bundle/wipeout"]
	path = vim/bundle/wipeout
	url = git://github.com/artnez/vim-wipeout.git
[submodule "vim/bundle/snippets"]
	path = vim/bundle/snippets
	url = git://github.com/honza/vim-snippets.git
[submodule "vim/bundle/spiffy_foldtext"]
	path = vim/bundle/spiffy_foldtext
	url = git://github.com/atimholt/spiffy_foldtext.git
[submodule "vim/bundle/PHP-Indenting-for-VIm"]
	path = vim/bundle/PHP-Indenting
	url = git://github.com/2072/PHP-Indenting-for-VIm.git
[submodule "vim-polyglot"]
	path = vim/bundle/polyglot
	url = git://github.com/sheerun/vim-polyglot.git
[submodule "vim/bundle/numbers"]
	path = vim/bundle/numbers
	url = git://github.com/myusuf3/numbers.vim.git
[submodule "vim/bundle/php-refactoring-toolbox"]
	path = vim/bundle/php-refactoring-toolbox
	url = git://github.com/adoy/vim-php-refactoring-toolbox.git
