[submodule "nvim/bundle/gundo"]
	path = config/nvim/pack/bundle/start/gundo
	url = https://github.com/sjl/gundo.vim
[submodule "nvim/bundle/auto_mkdir"]
	path = config/nvim/pack/bundle/start/auto_mkdir
	url = https://github.com/DataWraith/auto_mkdir
[submodule "nvim/bundle/ctrlp"]
	path = config/nvim/pack/bundle/start/ctrlp
	url = https://github.com/ctrlpvim/ctrlp.vim
[submodule "nvim/bundle/splice"]
	path = config/nvim/pack/bundle/start/splice
	url = https://github.com/sjl/splice.vim
[submodule "nvim/bundle/eunuch"]
	path = config/nvim/pack/bundle/start/eunuch
	url = https://github.com/tpope/vim-eunuch
[submodule "nvim/bundle/sideway"]
	path = config/nvim/pack/bundle/start/sideway
	url = https://github.com/AndrewRadev/sideways.vim
[submodule "nvim/bundle/matchtag"]
	path = config/nvim/pack/bundle/start/matchtag
	url = https://github.com/gregsexton/MatchTag
[submodule "nvim/bundle/SingleCompile"]
	path = config/nvim/pack/bundle/start/SingleCompile
	url = https://github.com/xuhdev/SingleCompile
[submodule "nvim/bundle/clam"]
	path = config/nvim/pack/bundle/start/clam
	url = https://github.com/sjl/clam.vim
[submodule "nvim/bundle/abolish"]
	path = config/nvim/pack/bundle/start/abolish
	url = https://github.com/tpope/vim-abolish
[submodule "nvim/bundle/spiffy_foldtext"]
	path = config/nvim/pack/bundle/start/spiffy_foldtext
	url = https://github.com/atimholt/spiffy_foldtext
[submodule "nvim-polyglot"]
	path = config/nvim/pack/bundle/start/polyglot
	url = https://github.com/sheerun/vim-polyglot
[submodule "nvim/bundle/relativity"]
	path = config/nvim/pack/bundle/start/relativity
	url = https://github.com/kennykaye/vim-relativity
[submodule "config/nvim/bundle/troll-stopper"]
	path = config/nvim/pack/bundle/start/troll-stopper
	url = https://github.com/vim-utils/vim-troll-stopper
[submodule "config/nvim/bundle/gnupg"]
	path = config/nvim/pack/bundle/start/gnupg
	url = https://github.com/jamessan/vim-gnupg
[submodule "config/nvim/bundle/shot-f"]
	path = config/nvim/pack/bundle/start/shot-f
	url = https://github.com/deris/vim-shot-f
[submodule "config/nvim/bundle/esearch"]
	path = config/nvim/pack/bundle/start/esearch
	url = https://github.com/eugen0329/vim-esearch
[submodule "config/nvim/bundle/openscad"]
	path = config/nvim/pack/bundle/start/openscad
	url = https://github.com/sirtaj/vim-openscad
[submodule "config/nvim/pack/bundle/start/loupe"]
	path = config/nvim/pack/bundle/start/loupe
	url = https://github.com/wincent/loupe
[submodule "config/nvim/pack/bundle/start/lspconfig"]
	path = config/nvim/pack/bundle/start/lspconfig
	url = https://github.com/neovim/nvim-lspconfig
[submodule "config/nvim/pack/bundle/start/vsnip"]
	path = config/nvim/pack/bundle/start/vsnip
	url = https://github.com/hrsh7th/vim-vsnip
[submodule "config/nvim/pack/bundle/start/friendly-snippets"]
	path = config/nvim/pack/bundle/start/friendly-snippets
	url = https://github.com/rafamadriz/friendly-snippets
[submodule "config/nvim/pack/bundle/start/shade"]
	path = config/nvim/pack/bundle/start/shade
	url = https://github.com/sunjon/Shade.nvim
[submodule "config/nvim/pack/bundle/start/colorizer"]
	path = config/nvim/pack/bundle/start/colorizer
	url = https://github.com/norcalli/nvim-colorizer.lua
[submodule "config/nvim/pack/bundle/start/lualine"]
	path = config/nvim/pack/bundle/start/lualine
	url = https://github.com/hoob3rt/lualine.nvim
[submodule "config/nvim/pack/bundle/start/dial"]
	path = config/nvim/pack/bundle/start/dial
	url = https://github.com/monaqa/dial.nvim
[submodule "config/nvim/pack/bundle/start/lspkind"]
	path = config/nvim/pack/bundle/start/lspkind
	url = https://github.com/onsails/lspkind-nvim
[submodule "config/nvim/pack/bundle/start/lsp-status"]
	path = config/nvim/pack/bundle/start/lsp-status
	url = https://github.com/nvim-lua/lsp-status.nvim
[submodule "config/nvim/pack/bundle/start/cmp"]
	path = config/nvim/pack/bundle/start/cmp
	url = https://github.com/hrsh7th/nvim-cmp
[submodule "config/nvim/pack/bundle/start/cmp-nvim-lsp"]
	path = config/nvim/pack/bundle/start/cmp-nvim-lsp
	url = https://github.com/hrsh7th/cmp-nvim-lsp
[submodule "config/nvim/pack/bundle/start/cmp-buffer"]
	path = config/nvim/pack/bundle/start/cmp-buffer
	url = https://github.com/hrsh7th/cmp-buffer
[submodule "config/nvim/pack/bundle/start/cmp-path"]
	path = config/nvim/pack/bundle/start/cmp-path
	url = https://github.com/hrsh7th/cmp-path
[submodule "config/nvim/pack/bundle/start/cmp-vsnip"]
	path = config/nvim/pack/bundle/start/cmp-vsnip
	url = https://github.com/hrsh7th/cmp-vsnip
[submodule "config/nvim/pack/bundle/start/lsp_signature"]
	path = config/nvim/pack/bundle/start/lsp_signature
	url = https://github.com/ray-x/lsp_signature.nvim
[submodule "config/nvim/pack/bundle/start/tango"]
	path = config/nvim/pack/bundle/start/tango
	url = https://github.com/sanpii/tango.vim
[submodule "config/nvim/pack/bundle/start/retrail"]
	path = config/nvim/pack/bundle/start/retrail
	url = https://github.com/zakharykaplan/nvim-retrail
[submodule "config/nvim/pack/bundle/start/marks"]
	path = config/nvim/pack/bundle/start/marks
	url = https://github.com/chentoast/marks.nvim
