*.pyc
*.local
vimperator/info
newsbeuter/*
ssh/config
ssh/id_rsa
ssh/*.pub
ssh/*.ppk
ssh/authorized_keys
ssh/known_hosts
nvim/.netrwhist
nvim/local.vim
weechat/logs
weechat/weechat.log
weechat/weechat_fifo_*
