snippet info "New info"
name = ${1:Pretty Name}
description = ${2:Description}
core = 7.x
;php = 5.2
;package = Custom
;dependencies[] = libraries
;files[] = `!v Filename()`.admin.inc
;files[] = `!v Filename()`.classes.inc
;files[] = `!v Filename()`.theme.inc
;files[] = `!v Filename()`.pages.inc
endsnippet
