style "button"
{	
	GtkButton::focus-line-width		= 0
#	GtkButton::interior-focus		= 1

	xthickness 				= 3
	ythickness 				= 3

	bg[NORMAL]        			= shade (0.892, @bg_color) 
	bg[PRELIGHT]    			= mix (0.802,shade(0.892, @bg_color), @focus_color)
	bg[ACTIVE]        			= shade (0.80, @bg_color) 
	bg[SELECTED]      			= @focus_color  
	bg[INSENSITIVE]   			= shade (0.902, @bg_color)

  	engine "murrine" 
	{
		contrast            		= 0.5
		highlight_shade     		= 1.0
		lightborder_shade   		= 1.1
		gradient_shades     		= {1.20, 1.10, 1.00, 0.90}
		border_shades       		= {1.1, 0.9}
		shadow_shades       		= {1.4, 0.0}
		reliefstyle         		= 3
		glazestyle 			= 3
		lightborderstyle 		= 1
		roundness			= 6
	}
}

style "toolbar-button"				= "button"
{
	bg[NORMAL]        			= shade (0.942, @bg_color)
 	bg[PRELIGHT]      			= shade (0.942, @bg_color)
	bg[ACTIVE]        			= shade (0.85, @bg_color) 
	bg[INSENSITIVE]   			= shade (0.952, @bg_color)
}

style "check-radio"				= "button"
{
	bg[SELECTED]    			= @selected_bg_color

GtkCheckButton::shadow_type		= GTK_SHADOW_OUT
GtkRadioButton::shadow_type		= GTK_SHADOW_OUT
  	engine "murrine" 
	{
		contrast            		= 0.5
		highlight_shade     		= 1.20
		lightborderstyle		= 1
		lightborder_shade   		= 2.0
		gradient_shades     		= {1.20, 1.10, 1.00, 0.90}
		border_shades       		= {1.1, 0.9}
		shadow_shades       		= {1.4, 0.0}
		reliefstyle         		= 3
		glazestyle 			= 3
	}

}

style "checkbutton" 				= "button"
{
	xthickness 				= 3
	ythickness 				= 3

	engine "pixmap" 
	{
		image 
		{
			function 		= FOCUS
		}
		# Unchecked
		image 
		{
			function 		= CHECK
			recolorable 		= TRUE
			state 			= NORMAL
			shadow 			= OUT
			overlay_file 		= "Check-Radio/check1.png"
			overlay_stretch 	= FALSE
		}
		# Unchecked (mouse over)
		image 
		{
			function 		= CHECK
			recolorable 		= TRUE
			state 			= PRELIGHT
			shadow 			= OUT
			overlay_file 		= "Check-Radio/check2.png"
			overlay_stretch 	= FALSE
		}
		# Unchecked
		image 
		{
			function        	= CHECK
			recolorable     	= TRUE
			state 			= ACTIVE
			shadow          	= OUT
			overlay_file   		= "Check-Radio/check3.png"
			overlay_stretch 	= FALSE
		}
		# Unchecked 
		image 
		{
			function        	= CHECK
			recolorable     	= TRUE
			state 			= INSENSITIVE
			shadow          	= OUT
			overlay_file    	= "Check-Radio/check4.png"
			overlay_stretch 	= FALSE
		}
		# Checked
		image 
		{
			function        	= CHECK
			recolorable    		= TRUE
			state 			= NORMAL
			shadow          	= IN
			overlay_file    	= "Check-Radio/check5.png"
			overlay_stretch 	= FALSE
		}
		# Checked (mouse over)
		image 
		{
			function        	= CHECK
			recolorable     	= TRUE
			state 			= PRELIGHT
			shadow         		= IN
			overlay_file    	= "Check-Radio/check6.png"
			overlay_stretch 	= FALSE
		}
		# Checked
		image 
		{
			function        	= CHECK
			recolorable     	= TRUE
			state 			= ACTIVE
			shadow          	= IN
			overlay_file    	= "Check-Radio/check3.png"
			overlay_stretch 	= FALSE
		}
		# Unchecked
		image 
		{
			function        	= CHECK
			recolorable     	= TRUE
			state			= INSENSITIVE
			shadow          	= IN
			overlay_file    	= "Check-Radio/check7.png"
			overlay_stretch 	= FALSE
		}
		#Use this image to draw the highlight when a line with a check box
		#is moused over.
		image 
		{
			function        	= FLAT_BOX
		}

	}
}

style "radiobutton" 				= "button"
{
	xthickness 				= 3
	ythickness 				= 3
	engine "pixmap" 
	{
		# Not selected
		image 
		{
			function        	= OPTION
			recolorable     	= TRUE
			state			= NORMAL
			shadow          	= OUT
			overlay_file    	= "Check-Radio/option1.png"
			overlay_stretch 	= FALSE
		}
		# Not selected (mouse over)
		image 
		{
			function        	= OPTION
			recolorable     	= TRUE
			state 			= PRELIGHT
			shadow         		= OUT
			overlay_file    	= "Check-Radio/option2.png"
			overlay_stretch 	= FALSE
		}
		# Not selected
		image 
		{
			function        	= OPTION
			recolorable    		= TRUE
			state 			= ACTIVE
			shadow          	= OUT
			overlay_file    	= "Check-Radio/option3.png"
			overlay_stretch 	= FALSE
		}
		# Insensitive
		image 
		{
			function        	= OPTION
			recolorable     	= TRUE
			state 			= INSENSITIVE
			shadow          	= OUT
			overlay_file    	= "Check-Radio/option6.png"
			overlay_stretch 	= FALSE
		}
		# Selected
		image 
		{
			function        	= OPTION
			recolorable     	= TRUE
			state 			= NORMAL
			shadow          	= IN
			overlay_file    	= "Check-Radio/option4.png"
			overlay_stretch 	= FALSE
		}
		# Selected (mouse over)
		image 
		{
			function        	= OPTION
			recolorable     	= TRUE
			state 			= PRELIGHT
			shadow          	= IN
			overlay_file    	= "Check-Radio/option5.png"
			overlay_stretch 	= FALSE
		}
		# Selected
		image 
		{
			function        	= OPTION
			recolorable     	= TRUE
			state 			= ACTIVE
			shadow          	= IN
			overlay_file    	= "Check-Radio/option3.png"
			overlay_stretch 	= FALSE
		}
		# Insensitive
		image 
		{
			function        	= OPTION
			recolorable     	= TRUE
			state 			= INSENSITIVE
			shadow          	= IN
			overlay_file    	= "Check-Radio/option7.png"
			overlay_stretch 	= FALSE
		}
		#Use this image to draw the highlight when a line with a radiobutton
		#is moused over.
		image 
		{
			function        	= FLAT_BOX
		}
	}
}
