style "window"	 				= "default"
{
	#base[NORMAL]				= @base_color
	bg_pixmap[NORMAL]			= "Fixes/gradient.png"
	bg_pixmap[PRELIGHT]			= "Fixes/gradient.png"
	bg_pixmap[SELECTED]			= "Fixes/gradient.png"
	bg_pixmap[ACTIVE]			= "Fixes/gradient.png"
	bg_pixmap[INSENSITIVE]			= "Fixes/gradient.png"
}

style "menubar" 
{
	ythickness				= 0
	engine "murrine" 
	{
		#textstyle 			= 2
		#text_shade 			= 0.33
		gradient_shades 		= {1.0, 1.0, 1.0, 1.0}
		lightborder_shade 		= 21.0
	}
}

style "toolbar"					= "default"
{
	GtkToolbar::shadow_type 		= GTK_SHADOW_NONE

	bg_pixmap[NORMAL]			= "Fixes/gradient.png"
	bg_pixmap[PRELIGHT]			= "Fixes/gradient.png"
	bg_pixmap[SELECTED]			= "Fixes/gradient.png"
	bg_pixmap[ACTIVE]			= "Fixes/gradient.png"
	bg_pixmap[INSENSITIVE]			= "Fixes/gradient.png"
}

style "handlebox-toolbar"
{
	xthickness				= 0
	ythickness				= 0

	bg_pixmap[NORMAL]			= "Fixes/gradient-fix.png"
	bg_pixmap[INSENSITIVE]			= "Fixes/gradient-fix.png"

	engine "pixmap"
	{
		image
		{
			function		= SHADOW
		}
	}
}

style "statusbar"
{
	bg[NORMAL]				= shade( 0.892, @bg_color)
	bg[PRELIGHT]				= shade( 0.892, @bg_color)
	bg[ACTIVE]				= shade( 0.892, @bg_color)
	bg[SELECTED]				= shade( 0.892, @bg_color)
	bg[INSENSITIVE]				= shade( 0.892, @bg_color)

}

style "statusbar-fix"
{
	bg[NORMAL]				= shade( 0.892, @bg_color)
}
