style "notebook"				= "default"
{
	xthickness				= 6
	ythickness				= 3

	engine "pixmap" 
	{
		# How to draw boxes with a gap on one side (ie the page of a notebook)
		image 
		{
			function		= BOX_GAP
			recolorable		= TRUE
			file			= "Notebook/notebook-top.png" 
			border			= { 10, 10, 7, 0}
			stretch			= TRUE
			gap_file		= "Notebook/gap-top.png"
			gap_border     		= { 4, 7, 2, 0}
			gap_start_file		= "Notebook/gap-top-start.png"
			gap_start_border     	= { 6, 6, 6, 6}
			gap_end_file		= "Notebook/gap-top-stop.png"
			gap_end_border     	= { 6, 6, 6, 6}
			gap_side		= TOP
		}
		# How to draw boxes with a gap on one side (ie the page of a notebook)
		image 
		{
			function		= BOX_GAP
			recolorable		= TRUE
			file			= "Notebook/notebook-bottom.png" 
			border			= { 10, 10, 0, 7}
			stretch			= TRUE
			gap_file		= "Notebook/gap-bottom.png"
			gap_border     		= { 4, 7, 0, 2}
			gap_start_file		= "Notebook/gap-bottom-start.png"
			gap_start_border     	= { 6, 6, 6, 6}
			gap_end_file		= "Notebook/gap-bottom-stop.png"
			gap_end_border     	= { 6, 6, 6, 6}
			gap_side		= BOTTOM
		}
		# How to draw boxes with a gap on one side (ie the page of a notebook)
		image 
		{
			function		= BOX_GAP
			recolorable		= TRUE
			file			= "Notebook/notebook.png" 
			border			= { 10, 10, 7, 0}
			stretch			= TRUE
			gap_side		= LEFT
		}
		# How to draw boxes with a gap on one side (ie the page of a notebook)
		image 
		{
			function		= BOX_GAP
			recolorable		= TRUE
			file			= "Notebook/notebook.png" 
			border			= { 10, 10, 7, 0}
			stretch			= TRUE
			gap_side		= RIGHT
		}
		# How to draw the box of a notebook when it isnt attached to a tab
		image 
		{
			function		= BOX
			recolorable		= TRUE
			file			= "Notebook/notebook.png"
			border			= { 10, 10, 7, 0}
			stretch			= TRUE
			#gap_side		= TOP
		}
	}
}

style "notebook-fix"
{
	xthickness				= 3
	ythickness				= 3

	bg_pixmap[NORMAL]			= "Notebook/notebook-bg.png"

	engine "pixmap"
	{
		image
		{
			function        	= FLAT_BOX
			recolorable     	= TRUE
			file			= "Notebook/notebook-fix.png"
			border			= { 0, 0, 0, 0 }
			stretch         	= TRUE
		}
	}
}

style "tabs"					= "default"
{
	GtkNotebook::tab-overlap 		= 5

	xthickness    		        	= 6
	ythickness    		        	= 3

	engine "pixmap" 
	{
		image
		{
			function		= FOCUS
		}
		image 
		{
			function		= EXTENSION
			recolorable		= TRUE
			state			= ACTIVE
			file			= "Tabs/tab-bottom.png"
			border			= { 8, 11, 1, 7}
			stretch			= TRUE
			gap_side		= TOP
		}
		image 
		{
			function		= EXTENSION
			recolorable		= TRUE
			state			= ACTIVE
			file			= "Tabs/tab-top.png"
			border			= { 8, 11, 7, 1}
			stretch			= TRUE
			gap_side		= BOTTOM
		}
		image 
		{
			function		= EXTENSION
			recolorable		= TRUE
			state			= ACTIVE
			file			= "Tabs/tab-left.png"
			border			= { 8, 8, 9, 11}
			stretch			= TRUE
			gap_side		= RIGHT
		}
		image 
		{
			function		= EXTENSION
			recolorable		= TRUE
			state			= ACTIVE
			file			= "Tabs/tab-right.png"
			border			= { 8, 8, 9, 11}
			stretch			= TRUE
			gap_side		= LEFT
		}	
		image 
		{
			function		= EXTENSION
			recolorable		= TRUE
			file			= "Tabs/tab-active-top.png"
			border			= { 8, 8, 12, 0}
			stretch			= TRUE
			gap_side		= BOTTOM
		}
		image 
		{
			function		= EXTENSION
			recolorable		= TRUE
			file			= "Tabs/tab-active-bottom.png"
			border			= { 8, 8, 0, 12}
			stretch			= TRUE
			gap_side		= TOP
		}
		image 
		{
			function		= EXTENSION
			recolorable		= TRUE
			file			= "Tabs/tab-active-left.png"
			border			= { 11, 9, 8, 12}
			stretch			= TRUE
			gap_side		= RIGHT
		}
		image 
		{
			function		= EXTENSION
			recolorable		= TRUE
			file			= "Tabs/tab-active-right.png"
			border			= { 9, 11, 8, 12}
			stretch			= TRUE
			gap_side		= LEFT
		}
		image
		{
			function		= ARROW
			recolorable		= TRUE
			state 			= NORMAL
			overlay_file		= "Arrows/arrow-up.png"
			overlay_border		= { 0, 0, 0, 0}
			overlay_stretch		= FALSE
			arrow_direction		= UP
		}
		image
		{
			function		= ARROW
			recolorable		= TRUE
			state 			= PRELIGHT
			overlay_file		= "Arrows/arrow-up.png"
			overlay_border		= { 0, 0, 0, 0}
			overlay_stretch		= FALSE
			arrow_direction		= UP
		}
		image
		{
			function		= ARROW
			recolorable		= TRUE
			state 			= SELECTED
			overlay_file		= "Arrows/arrow-up.png"
			overlay_border		= { 0, 0, 0, 0}
			overlay_stretch		= FALSE
			arrow_direction		= UP
		}
		image
		{
			function		= ARROW
			recolorable		= TRUE
			state 			= ACTIVE
			overlay_file		= "Arrows/arrow-up.png"
			overlay_border		= { 0, 0, 0, 0}
			overlay_stretch		= FALSE
			arrow_direction		= UP
		}
		image
		{
			function		= ARROW
			recolorable		= TRUE
			state 			= INSENSITIVE
			overlay_file		= "Arrows/arrow-up-ins.png"
			overlay_border		= { 0, 0, 0, 0}
			overlay_stretch		= FALSE
			arrow_direction		= UP
		}
		image
		{
			function		= ARROW
			recolorable		= TRUE
			state 			= NORMAL
			overlay_file		= "Arrows/arrow-down.png"
			overlay_border		= { 0, 0, 0, 0}
			overlay_stretch		= FALSE
			arrow_direction		= DOWN
		}
		image
		{
			function		= ARROW
			recolorable		= TRUE
			state 			= PRELIGHT
			overlay_file		= "Arrows/arrow-down.png"
			overlay_border		= { 0, 0, 0, 0}
			overlay_stretch		= FALSE
			arrow_direction		= DOWN
		}
		image
		{
			function		= ARROW
			recolorable		= TRUE
			state 			= SELECTED
			overlay_file		= "Arrows/arrow-down.png"
			overlay_border		= { 0, 0, 0, 0}
			overlay_stretch		= FALSE
			arrow_direction		= DOWN
		}
		image
		{
			function		= ARROW
			recolorable		= TRUE
			state 			= ACTIVE
			overlay_file		= "Arrows/arrow-down.png"
			overlay_border		= { 0, 0, 0, 0}
			overlay_stretch		= FALSE
			arrow_direction		= DOWN
		}
		image
		{
			function		= ARROW
			recolorable		= TRUE
			state 			= INSENSITIVE
			overlay_file		= "Arrows/arrow-down-ins.png"
			overlay_border		= { 0, 0, 0, 0}
			overlay_stretch		= FALSE
			arrow_direction		= DOWN
		}     
		image
		{
			function		= ARROW
			recolorable		= TRUE
			state 			= NORMAL
			overlay_file		= "Arrows/arrow-left.png"
			overlay_border		= { 0, 0, 0, 0}
			overlay_stretch		= FALSE
			arrow_direction		= LEFT
		}
		image
		{
			function		= ARROW
			recolorable		= TRUE
			state 			= PRELIGHT
			overlay_file		= "Arrows/arrow-left.png"
			overlay_border		= { 0, 0, 0, 0}
			overlay_stretch		= FALSE
			arrow_direction		= LEFT
		}
		image
		{
			function		= ARROW
			recolorable		= TRUE
			state 			= SELECTED
			overlay_file		= "Arrows/arrow-left.png"
			overlay_border		= { 0, 0, 0, 0}
			overlay_stretch		= FALSE
			arrow_direction		= LEFT
		}
		image
		{
			function		= ARROW
			recolorable		= TRUE
			state 			= ACTIVE
			overlay_file		= "Arrows/arrow-left.png"
			overlay_border		= { 0, 0, 0, 0}
			overlay_stretch		= FALSE
			arrow_direction		= LEFT
		}
		image
		{
			function		= ARROW
			recolorable		= TRUE
			state 			= INSENSITIVE
			overlay_file		= "Arrows/arrow-left-ins.png"
			overlay_border		= { 0, 0, 0, 0}
			overlay_stretch		= FALSE
			arrow_direction		= LEFT
		}
		image
		{
			function		= ARROW
			recolorable		= TRUE
			state			= NORMAL
			overlay_file		= "Arrows/arrow-right.png"
			overlay_border		= { 0, 0, 0, 0}
			overlay_stretch		= FALSE
			arrow_direction		= RIGHT
		}
		image
		{
			function		= ARROW
			recolorable		= TRUE
			state			= PRELIGHT
			overlay_file		= "Arrows/arrow-right.png"
			overlay_border		= { 0, 0, 0, 0}
			overlay_stretch		= FALSE
			arrow_direction		= RIGHT
		}
		image
		{
			function		= ARROW
			recolorable		= TRUE
			state			= SELECTED
			overlay_file		= "Arrows/arrow-right.png"
			overlay_border		= { 0, 0, 0, 0}
			overlay_stretch		= FALSE
			arrow_direction		= RIGHT
		}
		image
		{
			function		= ARROW
			recolorable		= TRUE
			state			= ACTIVE
			overlay_file		= "Arrows/arrow-right.png"
			overlay_border		= { 0, 0, 0, 0}
			overlay_stretch		= FALSE
			arrow_direction		= RIGHT
		}
		image
		{
			function		= ARROW
			recolorable		= TRUE
			state			= INSENSITIVE
			overlay_file		= "Arrows/arrow-right-ins.png"
			overlay_border		= { 0, 0, 0, 0}
			overlay_stretch		= FALSE
			arrow_direction		= RIGHT
		}
	}
}
