snippet php "Start script" !b
<?php
declare(strict_types = 1);


endsnippet

snippet f "Function snip" !b
${1:public} function ${2}(${3})
{
    ${0}
}

endsnippet

snippet for "Foreach snip" !b
foreach ($${1} as $${3}) {
    ${0}
}
endsnippet
