style "glade-sidebar"
{
	bg[NORMAL]        			= shade (0.892, @bg_color)

	engine "pixmap"
	{
		image
		{
			function		= SHADOW
		}
	}		
}

widget "GladeWindow.*.GladePalette.GtkScrolledWindow.GtkViewport"	style "glade-sidebar"
