style "window-flat" 				= "default"
{
	base[NORMAL]				= @base_color

	engine "pixmap"
	{
		image
		{
			function        	= FLAT_BOX
			recolorable     	= TRUE
			file			= "Fixes/none.png"
			border			= { 0, 0, 0, 0}
			stretch         	= TRUE
		}
	}
}

#gnome-control-center fix
widget "My*.ShellWindow"			style "window-flat"
