style "calculator-gradient"
{
	engine "pixmap"
	{
		image
		{
			function		= FLAT_BOX
			file			= "Apps/Calculator/calculator.png"
			border			= { 0, 0, 29, 0}
			stretch			= TRUE
		}
	}
}

style "calculator-viewport"
{
	bg[NORMAL]				= @base_color
	engine "pixmap"
	{
		image
		{
			function		= SHADOW
		}
	}
}

widget "GtkWindow.GtkVBox.GtkEventBox" 	style "calculator-gradient"
widget "GtkWindow.GtkVBox.GtkEventBox.GtkScrolledWindow.GtkViewport"	style "calculator-viewport"
