style "inkscape-base-color"
{
	bg[NORMAL]				= shade (0.892, @bg_color)
	bg_pixmap[NORMAL]			= "Fixes/none.png"
	bg_pixmap[ACTIVE]			= "Fixes/none.png"
	bg_pixmap[PRELIGHT]			= "Fixes/none.png"
	bg_pixmap[SELECTED]			= "Fixes/none.png"
	bg_pixmap[INSENSITIVE]			= "Fixes/none.png"
}

style "inkscape-menubar"
{
	bg[NORMAL]				= @bg_color
	bg_pixmap[NORMAL]			= "Fixes/gradient.png"
	bg_pixmap[ACTIVE]			= "Fixes/gradient.png"
	bg_pixmap[PRELIGHT]			= "Fixes/gradient.png"
	bg_pixmap[SELECTED]			= "Fixes/gradient.png"
	bg_pixmap[INSENSITIVE]			= "Fixes/gradient.png"
}

style "inkscape-commands-toolbar"
{
	bg[NORMAL]				= @bg_color

	engine "pixmap"
	{
		image
		{
			function		= BOX
			recolorable		= FALSE
			file			= "Apps/Inkscape/commands.png"
			border			= { 0, 0, 0, 0}
			stretch			= TRUE
		}
	}
}

style "inkscape-snap-toolbar"
{
	bg[NORMAL]				= @bg_color

	engine "pixmap"
	{
		image
		{
			function		= BOX
			recolorable		= FALSE
			file			= "Apps/Inkscape/snap.png"
			border			= { 0, 0, 0, 0}
			stretch			= TRUE
		}
	}
}

style "inkscape-handlebox"
{
	engine "pixmap"
	{
		image
		{
			function		= SHADOW
		}
	}
}

widget "gtkmm__GtkWindow*"	style "inkscape-base-color"

widget "gtkmm__GtkWindow.*GtkMenuBar"		style "inkscape-menubar"

widget "gtkmm__GtkWindow.*CommandsToolbar"	style:highest "inkscape-commands-toolbar"
widget "gtkmm__GtkWindow.*SnapToolbar"		style:highest "inkscape-snap-toolbar"

widget "gtkmm__GtkWindow.SPDesktopWidget.GtkVBox.GtkHandleBox"	style:highest "inkscape-handlebox"

widget "gtkmm__GtkWindow.*SPPaintSelector.GtkHBox.GtkHBox.GtkRadioButton"	style:highest "button"
widget "gtkmm__GtkWindow.*SPWidget.*gtkmm__GtkRadioButton"			style:highest "button"
widget "gtkmm__GtkWindow.SPDesktopWidget.GtkVBox.GtkHandleBox*GtkToolbar.*GtkRadioButton"	style:highest "button"
