style "banshee-tile-view"
{
	bg_pixmap[NORMAL]			= "Fixes/none.png"
}

#rhythmbox
widget "*RBSourceHeader*GtkEventBox"		style "statusbar-fix"
widget "*RBAudioscrobblerProfileSource*GtkScrolledWindow.GtkViewport"	style "statusbar-fix"
#gmpc
widget "pl3_win.*.browser_container" 		style "statusbar-fix"
widget "GtkWindow.GtkVBox.GtkVBox.GtkHPaned.GtkVPaned.GtkVBox.GtkEventBox"	style "statusbar-fix"

#banshee
widget "*__gtksharp_34_Banshee_Widgets_TileView" style "banshee-tile-view"
widget "*__gtksharp_25_Nereid_ViewContainer.*.GtkEventBox*"	style "statusbar-fix"
widget "*__gtksharp_11_Nereid_PlayerInterface.GtkVBox.GtkHBox.GtkAlignment.GtkHBox.GtkEventBox*"	style "statusbar-fix"
widget "*__gtksharp_86_Hyena_Widgets_AnimatedWidget"			style "statusbar-fix"
widget "*__gtksharp_30_Banshee_ContextPane_ContextPane*.GtkRadioButton"	style "button"
