style "mintmenu-style"
{
	bg_pixmap[NORMAL]      			= "Fixes/darker.png"	
  	bg_pixmap[PRELIGHT]    			= "Fixes/darker.png"
  	bg_pixmap[ACTIVE]      			= "Fixes/darker.png"
}

widget "mintmenu.*" 				style "mintmenu-style"

style "mint-trans"
{
	bg_pixmap[NORMAL]			= "Fixes/none.png"

	engine "pixmap"
	{
		image
		{
			function        	= FLAT_BOX
			recolorable		= TRUE
			file			= "Fixes/darker.png"
			border			= { 0, 0, 0, 0}
			stretch			= TRUE
		}

	}
}

widget "mintmenu.border.paneholder.*.Applications.*viewport2*.GtkEventBox"	style "mint-trans"

style "mint-recent-notebook"
{
	engine "pixmap"
	{
		image
		{
			function        	= FLAT_BOX
			recolorable     	= TRUE
			file			= "Notebook/notebook-fix.png"
			border			= { 0, 0, 0, 0 }
			stretch         	= TRUE
		}
	}
}

widget "mintmenu.*RecentTabs.scrolledwindow2.viewport1"	style "mint-recent-notebook"

style "mint-places-button"			= "button"
{
	bg[PRELIGHT]				= shade (0.892, @bg_color)
}

widget "mintmenu.*.Places.*GtkButton"	style "mint-places-button"
widget "mintmenu.*.System.*GtkButton"	style "mint-places-button"
