style "nautilus-sidebar"
{
	ythickness				= 3
	xthickness				= 3

	base[NORMAL]				= shade (0.892, @bg_color)

	engine "pixmap"
	{
		image
		{
			function		= SHADOW
			recolorable		= TRUE
			file			= "Shadows/shadow-etched-out.png"
			border			= { 3, 3, 3, 3}
			stretch			= TRUE
		}
	
	}
}

style "nautilus-sidebar-color"
{
	text[NORMAL]				= @fg_color

	GtkTreeView::horizontal_separator	= 15
	GtkTreeView::expander-size              = 11

	base[NORMAL]				= shade (0.892, @bg_color)
	bg[NORMAL]				= shade (0.892, @bg_color)
}

style "nautilus-emblem"
{
	bg_pixmap[NORMAL]			= "Fixes/none.png"

	engine "pixmap"
	{
		image
		{
			function		= FLAT_BOX
		}
	}
}

style "nautilus-emblem-dialog"			= "default"
{
	engine "pixmap"
	{
		image
		{
			function        	= FLAT_BOX
			recolorable     	= TRUE
			file			= "Apps/Nautilus/nautilus-emblem.png"
			border			= { 0, 0, 47, 0}
			stretch         	= TRUE
		}
	}
}

style "nautilus-emblem-dialog-view"		= "default"
{
	bg_pixmap[NORMAL]			= "Apps/Nautilus/nautilus-emblem.png"
}

style "nautilus-pathbar"
{
	xthickness = 3
	ythickness = 0
	
	GtkButton::child-displacement-y		= 0
	GtkButton::inner-border			= { 0, 9, 0, 0}

	fg[PRELIGHT] = shade (0.8, @selected_bg_color)

	engine "pixmap"
	{	
		image
		{
			function        	= BOX
			recolorable     	= TRUE
			state			= NORMAL
			file			= "Apps/Nautilus/breadcrumb_normal.png"
			border			= { 0, 9, 0, 19}
			stretch         	= TRUE
		}
		image
		{
			function        	= BOX
			shadow			= OUT
			recolorable     	= TRUE
			state			= PRELIGHT
			file			= "Apps/Nautilus/breadcrumb_prelight.png"
			border			= { 0, 9, 0, 19}
			stretch         	= TRUE
		}
		image
		{
			function        	= BOX
			shadow			= IN
			recolorable     	= TRUE
			state			= PRELIGHT
			file			= "Apps/Nautilus/breadcrumb_prelight.png"
			border			= { 0, 9, 0, 19}
			stretch         	= TRUE
		}
		image
		{
			function        	= BOX
			recolorable     	= TRUE
			state			= ACTIVE
			file			= "Apps/Nautilus/breadcrumb_normal.png"
			border			= { 0, 9, 0, 19}
			stretch         	= TRUE
		}
		image
		{
			function        	= BOX
			recolorable     	= TRUE
			state			= SELECTED
			file			= "Apps/Nautilus/breadcrumb_normal.png"
			border			= { 0, 9, 0, 19}
			stretch         	= TRUE
		}
		image
		{
			function        	= BOX
			recolorable     	= TRUE
			state			= INSENSITIVE
			file			= "Apps/Nautilus/breadcrumb_normal.png"
			border			= { 0, 9, 0, 19}
			stretch         	= TRUE
		}	
	}
}

style "nautilus-pathbar-button"
{
	xthickness = 0
	ythickness = 0
	
	GtkButton::child-displacement-y		= 0

	engine "pixmap"
	{	
		image
		{
			function        	= BOX
		}
		image
		{
			function		= ARROW
			recolorable		= TRUE
			state 			= PRELIGHT
			overlay_file		= "Apps/Nautilus/arrow-left-prelight.png"
			overlay_border		= { 0, 0, 0, 0}
			overlay_stretch		= FALSE
			arrow_direction		= LEFT
		}
		image
		{
			function		= ARROW
			recolorable		= TRUE
			state 			= SELECTED
			overlay_file		= "Apps/Nautilus/arrow-left-prelight.png"
			overlay_border		= { 0, 0, 0, 0}
			overlay_stretch		= FALSE
			arrow_direction		= LEFT
		}
		image
		{
			function		= ARROW
			recolorable		= TRUE
			state 			= ACTIVE
			overlay_file		= "Apps/Nautilus/arrow-left-prelight.png"
			overlay_border		= { 0, 0, 0, 0}
			overlay_stretch		= FALSE
			arrow_direction		= LEFT
		}
	}
}

style "nautilus-pathbar-button-right"
{
	xthickness 				= 0
	ythickness 				= 0
	
	engine "pixmap"
	{
		image
		{
			function		= FOCUS
		}
		image
		{
			function 		= BOX
		}
		image
		{
			function 		= ARROW
		}
	}
}

style "nautilus-mode-button"
{
	engine "pixmap"
	{	
		image
		{
			function        	= BOX
			recolorable     	= TRUE
			state			= NORMAL
			file			= "Apps/Nautilus/mode-normal.png"
			border			= { 8, 8, 8, 8}
			stretch         	= TRUE
		}
		image
		{
			function        	= BOX
			recolorable     	= TRUE
			state			= PRELIGHT
			file			= "Apps/Nautilus/mode-prelight.png"
			border			= { 8, 8, 8, 8}
			stretch         	= TRUE
		}
		image
		{
			function        	= BOX
			recolorable     	= TRUE
			state			= ACTIVE
			file			= "Apps/Nautilus/mode-pressed.png"
			border			= { 8, 8, 8, 8}
			stretch         	= TRUE
		}  

		image
		{
			function        	= BOX
			recolorable     	= TRUE
			state			= INSENSITIVE
			file			= "Apps/Nautilus/mode-normal.png"
			border			= { 8, 8, 8, 8}
			stretch         	= TRUE
		} 

		image
		{
			function        	= BOX
			recolorable     	= TRUE
			state			= SELECTED
			file			= "Apps/Nautilus/mode-pressed.png"
			border			= { 8, 8, 8, 8}
			stretch         	= TRUE
		}
	}
}

widget_class "Nautilus*Sidebar"			style "nautilus-sidebar"
widget "Nautilus*NautilusNotesViewer"		style "nautilus-sidebar"
widget "Nautilus*FMTreeView"			style "nautilus-sidebar"
widget "*.NautilusEmblemSidebar.GtkScrolledWindow.GtkViewport" style "nautilus-sidebar"

widget_class "Nautilus*Sidebar.GtkTreeView"     style "nautilus-sidebar-color"
widget "Nautilus*FMTreeView.GtkTreeView"	style "nautilus-sidebar-color"
widget "*.NautilusEmblemSidebar.*" 		style "nautilus-sidebar-color"
widget "Nautilus*NautilusNotesViewer.*"		style "nautilus-sidebar-color"
widget "Nautilus*NautilusInformationPanel"	style "nautilus-sidebar-color"


widget "*EelWrapTable.GtkEventBox" 		style "nautilus-emblem"


widget "*.GtkPathBar.*GtkToggleButton*"		style "nautilus-pathbar"
widget "*.GtkPathBar.*GtkButton*"		style "nautilus-pathbar-button"
widget "*NautilusPathBar.*ToggleButton*" 	style "nautilus-pathbar"
widget "*NautilusPathBar.GtkButton*" 		style "nautilus-pathbar-button"
widget "Nautilus*left_slider*"			style "nautilus-pathbar-button"
widget "Nautilus*right_slider*"			style "nautilus-pathbar-button-right"

widget "NautilusPropertyBrowser.GtkVBox.GtkHBox.GtkScrolledWindow.GtkViewport"	style "nautilus-emblem-dialog"
widget "NautilusPropertyBrowser.GtkVBox.GtkHBox.GtkVBox.GtkEventBox"		style "nautilus-emblem-dialog-view"

widget "NautilusPropertyBrowser.GtkVBox.GtkEventBox"				style "statusbar-fix"

widget "*GtkModeButton*"			style "nautilus-mode-button"
